*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    gap: 6rem;
}

.titulo-oficina{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}